.input-group {
  position: relative;
  margin: 40px 0 20px;
}

input {
  font-size: 1.125rem;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  max-width: 300px;
  border: none;
  /* border-bottom: 1px solid #757575; */
}

input:focus {
  outline: none;
}

label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #232222;  
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
}

