*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Button_main{
  max-width: 12em;
  min-width: 4em;
  padding: 0.6em 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 20px;
  background: #00123F;
  border-radius: 20px;
  color: #BAD5FF;
  text-align: center;
  transition: background .4s ease-out;
}
.Button_main:hover{
  outline: none;
  transition: all 0.2s ease;
  background: linear-gradient(90deg, rgba(34, 88, 192, 0.59) 3.05%, rgba(48, 92, 175, 0.64) 96.54%);
}
.input-group {
  position: relative;
  margin: 40px 0 20px;
}

.input_field {
  font-size: 1.125rem;
  padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
  display: block;
  max-width: 300px;
  border: none;
  /* border-bottom: 1px solid #757575; */
}

.input_field:focus {
  outline: none;
}

.input_field_label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #232222;  
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input_field:focus ~ label,
.input_field:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
}

